<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Display web page form</h1>
        <form method="POST">
            {% csrf_token %}
            <label for="tn">Topic name:</label>
            <select name="tn" id="tn">
            {% for to in topic %}
            <option value="{{to}}">{{to.topic_name}}</option>
            {% endfor %}
            </select>
            <br><br>
            <label for="n">name:</label>
            <input type="text" name="n" id="n">
            <br><br>
            <label for="un">webpage url:</label>
            <input type="text" name="un" id="un">
            <br><br>
            <label for="em">Email:</label>
            <input type="text" name="em" id="em">

            <br><br>
            <input type="submit" value="submit">
        </form>
    </center>
</body>
</html>